---
---

@import "minima";

.navbar-custom {
    background-color: #fcba03ff;
}

.navbar-brand {
    color: #022450;
}

.navbar-brand:visited {
    color: #022450;
}

.nav-link {
    color: #022450;
}

.nav-link:visited {
    color: #022450;
}

h1, h2, h3 {
    color: #fcba03ff
}

.footer-heading {
    color: #022450;
}

.u-email {
    color: #022450;
}
